<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <title>Instagram Portfolio</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700|Satisfy|Montserrat' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/javascript" src="js/modernizr.js"></script>
</head>
<body>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">BaeBox</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">Featured</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Apparel</a></li>
              <li><a href="#">Accessories</a></li>
              <li><a href="#">Munchies</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a></a></li> <!-- logged out view -->
          <li><a href="../navbar-static-top/">Log in</a></li>
          <li class="active"><a href="./">Join <span class="sr-only">(current)</span></a></li>
        </ul>
      </div>
    </div>
  </nav>

    <section class="instagram-wrap">
      <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="instagram-content">
                    <h3>Featured Items</h3>
                    <div class="row photos-wrap">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="photo-box">
                            <div class="image-wrap">
                                <img src="jewelry.jpg">
                                <div class="likes">300 Likes</div>
                            </div>
                            <div class="description">
                                Veritas Anchor Chain
                                <div class="price">$200</div>
                            </div>
                        </div>

                    </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    </section>




    <footer>
 
    </footer>
    <section class="footer-bottom">
 
    </section>
 
</body>
</html>