<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <title>Instagram Portfolio</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700|Satisfy|Montserrat' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/javascript" src="js/modernizr.js"></script>
</head>
<body>
    <header>
      <div class="titles">
          <h1>BaeBox</h1>
          <h2>Discover shoppable products on Instagram</h2>
      </div>
      <div class="social">
          <a class="instagram" href="#">Instagram</a>
          <a class="twitter" href="#">Twitter</a>
          <a class="snapchat" href="#">Snapchat</a>
      </div>
    </header>
    <section class="instagram-wrap">
      <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="instagram-content">
                    <h3>Featured Items</h3>
                    <div class="row photos-wrap">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="photo-box">
                            <div class="image-wrap">
                                <img src="jewelry.jpg">
                                <div class="likes">300 Likes</div>
                            </div>
                            <div class="description">
                                Veritas Anchor Chain
                                <div class="price">$200</div>
                            </div>
                        </div>
                    </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    </section>

    <footer>
 
    </footer>
    <section class="footer-bottom">
 
    </section>
 
</body>
</html>