<div class = "container">
  <form class = "submit-form-container" id="submit-form">
    <div class = "box">
      <div class="input-group input-group-lg">
        
        <span class="input-group-addon" id="basic-addon1">@</span>
        <input type="text" class="form-control" id="handle-search-text" placeholder="Enter handle" aria-describedby="basic-addon1">
        <input type="hidden" id="hidden-access" value="<%= get_access_token %>"/>
        <span class="input-group-btn">
          <input type="submit" class="btn btn-default" data-something="some value" id="find-images-button" value="Find Images"/>
        </span>
      
      </div>
    </div>
    <div class = "container">
      <div class = "image-select-option-container" id="search-images-section">
        
        <% (0..5).each do |i| %>
          <%= image_tag("image.png", id: "product-image-" + i.to_s) %>
        <% end %>

      </div>
    </div>
  </form>
</div