// Place all the styles related to the likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.like-action {
  font-size: 20pt;
  color: grey;
}

.unlike-action {
  font-size: 20pt;
  color: black;
}

.likebutton {
  a.like-action {
    &:hover {
      color: red;
    }
  }
  a.unlike-action {
    &:hover {
      color: green;
    }
  }

}