// Place all the styles related to the likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.unliked {
  font-size: 20pt;
  color: #a8a8a8;
  &:hover{
    color: #a8a8a8;
  }
  &:focus{
    color: #a8a8a8;
    &:hover{
    color: #a8a8a8;
    }
  }
}

.liked {
  font-size: 20pt;
  color: black;
  &:hover{
    color: black;
  }
  &:focus{
    color: black;
    &:hover{
      color: black;
    }
  }
}