/*.outer-container{
  height: 100px;
  text-align: center;
}

.img-container .img-responsive {
  display: inline-block;
  width: auto;
  max-height: 500px;
}

.main-container{ 
  height: 600px;
  width: 1000px;
  border-style: solid;
  border-color: red;
  display: inline-block;
  margin-top: 100px;
}

.container{
  text-align: center;
}*/