// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box{
  padding: 100px;
}

.img-container {
  border: dashed blue 1px;
  height: 500px;
}

.img-container product-image {
  max-height: 100%;
  max-width: 100%;
}