.submit-form-container{
  margin: 10px;
  margin-top: 100px;
}

#find-images-button{
  color: grey;
  font-size: 12pt;
}

#handle-search-text{
  font-size: 12pt;
}

#search-images-section{
  display: none;
}